# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
DerivedData/
*.xcworkspace
*.xcuserstate
*.moved-aside

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Firebase
GoogleService-Info.plist

# XCConfig (se não quiser versionar)
*.xcconfig

# IDEs
.idea/
*.iml

# Misc
*.log
*.swp
*.lock
*.env
.env.*

# Temporary files
*.tmp
*.bak

# Preview Thumbnails
**/.swiftpm/xcode/package.pins
**/.swiftpm/xcode/xcshareddata/
